Package: vyatta-cjdns
Version: 0.1-1
Section: contrib/net
Priority: extra
Architecture: mipsel
Maintainer: Neil Alexander <neilalexander@noreply.users.github.com>
Depends: vyatta-cfg-system, vyatta-cfg, vyatta-op
Replaces: vyatta-cjdns
Description: Vyatta cjdns package
 Binary cjdns package for MIPS-based Vyatta platforms
 such as the Ubiquiti EdgeRouter X
