Source: vyatta-cjdns
Section: contrib/net
Priority: extra
Maintainer: Neil Alexander <neilalexander@users.noreply.github.com>
Standards-Version: 0.1
Build-Depends: debhelper (>= 9), crossbuild-essential-mipsel

Package: vyatta-cjdns
Architecture: mips
Depends: vyatta-cfg-system,
 vyatta-cfg,
 vyatta-op,
 ${misc:Depends}
Replaces: vyatta-cjdns
Description: Vyatta cjdns package
 Vyatta cjdns package
